@model webort.District_town_

@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<h3>Редактирование записи о Районе</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
         <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_District)

          <div class="form-group">
            @Html.LabelFor(model => model.Region, "Регион", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Region", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District_name,"Наименование района(город)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.District_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.District_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password_district,"Пароль района", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password_district, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password_district, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-success"/>
            </div>
        </div>
    </div>
}

<div>
    <i class="fas fa-angle-double-left">
        @Html.ActionLink("Вернуться назад", "GetDistrict")
    </i>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
