@model List<webort.Models.RegionModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Region";
}
<hr/>
<p>
    <a href="CreateRegion" class="btn btn-primary"><span class='glyphicon glyphicon-plus'></span>Добавить регион</a>
</p>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<div class="card" style="width: 18rem;">
    @Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.id_Region).Titled("id_Регион").Filterable(false);
    Columns.Add(c => c.region_name).Titled("Наименование региона)").Filterable(true).Sortable(true);
       Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(btnEdit =>
    {
        string htmlstr = "<a href='" + @Url.Action("UpdateRegion", new { id = btnEdit.id_Region }) + "' class='btn btn-warning'><span class='far fa-edit'></span> Edit</a>";
        return MvcHtmlString.Create(htmlstr);
    });
    Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(btnDel =>
    {
        string htmlstr = "<a href='" + @Url.Action("DeleteRegion", new { id = btnDel.id_Region }) + "' class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span> Delete</a>";
        return MvcHtmlString.Create(htmlstr);
    });
}).WithPaging(7).WithGridItemsCount("Общее количество строк")

</div>
<div>
    @Html.ActionLink("Вернуться назад", "GetDistrict")
</div>